# Ignore all
*
# Unignore all sub dirs
!*/

# Unignore server
!server/

# Ignore frontend
server/frontend/*
# Unignore frontend/src
!server/frontend/src/
!server/frontend/src/*/

# Unignore for these files
!.gitignore
!LICENSE
!*.md
!*.go
!*.json
!.travis.yml
# Exceptions
config.json

# For HTML
!*.html
!*.js
!*.css
!*.jpg
!*.png
!*.gif
# For CSV
!*.csv
# For vue
!*.vue
